* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto Slab", serif;
	font-size: 62.5%;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb {
	background-color: #292929;
	border-radius: 50px;
}

.welcome {
	background-color: #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
	background-size: 400%, 400%;
	height: 100vh;
	animation: gradient 28s ease infinite;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn_welcome {
	font-family: "Roboto Slab", serif;
	padding: 10px 80px;
	font-size: 1.5rem;
	border-radius: 5rem;
	border: none;
	cursor: pointer;
	margin-top: 5rem;
	background-color: #000;
	color: #fffffe;
}

.btn_welcome:hover {
	background-color: #45494a;
}

.hidden {
	display: none;
}

.welcome_title {
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.welcome_part {
	display: flex;
	align-items: center;
}

.logo_welcome {
	width: 2.5rem;
	object-fit: cover;
}

.seeYa {
	font-size: 3.5rem;
	margin-left: 0.5rem;
}

.overlay {
	background-color: #fffffe;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 80px 70px;
	height: 100vh;
}

.conditions {
	list-style: none;
	display: flex;
	margin-top: 10rem;
}

.hero {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #FFFAFA;
}

.welcome_li {
	cursor: pointer;
	font-weight: bold;
	color: #7a7a7a;
}

.conditions > li:not(:first-child) {
	margin-left: 2rem;
}

.title_group {
	display: flex;
	align-items: center;
	position: absolute;
	margin-bottom: 38rem;
	margin-right: 69rem;
}

.hero_center {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: transitionIn 1s;
}

.header_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.workout__delete {
	cursor: pointer;
	font-size: 1.6rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.input_section {
	background-color: #24242e;
	width: 25rem;
	height: 35rem;
	border-radius: 20px 0 0 20px;
	overflow: scroll;
	overflow-x: hidden;
}

.location_section {
	width: 58rem;
	height: 35rem;
	border-radius: 0 20px 20px 0;
	
}

#map {
	width: 58rem;
	height: 35rem;
}

.hero_title {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background-color: #000;
	color: #fffffe;
	border-radius: 10px;
}

.leaflet-popup .leaflet-popup-content {
	font-size: 1.1rem;
}

.leaflet-popup .leaflet-popup-tip {
	background: #000;
}

.jogging_popup .leaflet-popup-content-wrapper {
	border-left: 10px solid #f25042;
}

.cycling_popup .leaflet-popup-content-wrapper {
	border-left: 10px solid #00473e;
}

.meditation_popup .leaflet-popup-content-wrapper {
	border-left: 10px solid #e78fb3;
}

.groceries_popup .leaflet-popup-content-wrapper {
	border-left: 10px solid #6246ea;
}

.form {
	display: block;
	background-color: #292931;
	color: #fffffe;
	border-radius: 10px;
	padding: 18px 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	opacity: 1;
	transition: all 0.85s;
}
.form_hidden {
	opacity: 0;
	height: 0;
}

.flex_form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.form_input {
	width: 5rem;
	border: none;
	border-radius: 5px;
	padding: 4px 6px;
	margin-left: 0.5rem;
	font-family: "Roboto Slab", serif;
}

.form_label {
	font-size: 1rem;
}

.form_row_hidden {
	display: none;
}

#form_action{
	border-radius: 5px;
	padding: 3px 6px;
	font-weight: 500;
	color: #2b2c34;
	font-family: "Roboto Slab", serif;
	border: none;
	margin-left: 2px;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(+30rem)
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn_export {
	width: 1.5rem;
	height: 1.3rem;
}

.btn_1 {
	background: none;
	cursor: pointer;
	border: none;
	margin-left: 22.5rem;
	margin-top: 1rem;
}

.tasks {
	background-color: #292931;
	margin-top: 1rem;
	list-style: none;
	color: #fffffe;
	padding: 15px 5px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.tasks:last-child {
	margin-bottom: 1rem;
}

.task_icon {
	object-fit: contain;
	width: 1.5rem;
}

.task_details {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 0.5rem;
	gap: 0.10rem;
}

.task_value {
	font-size: 0.9rem;
}

.task_flex {
	display: flex;
	gap: 2rem;
}

.task_jogging {
	border-left: 5px solid #f25042;
	border-radius: 10px;
}

.task_unit {
	color: #c3c2c2;
	margin-left: 0.25rem;
}
.cycling_icon{
	width: 1.5rem;
	height: 1.3rem;
}

.task_cycling {
	border-left: 5px solid #00473e;
	border-radius: 10px;
}

.task_meditation {
	border-left: 5px solid #e78fb3;
	border-radius: 10px;
}

.task_value_meditation {
	font-size: 0.7rem;
}

.task_groceries {
	border-left: 5px solid #6246ea;
	border-radius: 10px;
}

.tasks:hover {
	cursor: pointer;
}

